<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
      
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'soccer_ai/favicon/favicon.ico' %}" >
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
</head>
<body>
  {% include 'soccer_ai/navbar.html' %}
 
  <!--section>
    <div class="w-100 h-100 bg-light">
        {% for country in countries %}
        <div class="d-flex flex-row justify-content-center">
          <img src="{{ country.flag }}" style="width: 50px;">
          <p class="fs-3">{{ country.name }}</p>
        </div>
        {% endfor %}
      </select>
    </div>
  </section-->
  <div class="d-flex flex-row h-100 border-bottom">
    <aside class="w-25 py-3 px-2 border-end border-2 ">
      <p href="#" class="fs-3"><b>How to use this app?</b></p>
      <p class="fs-6">This app allows the user to interact with a database from the german football league between 1963 and 2021 in order to get information.</p>
      <p class="fs-5"><b>Available questions:</b></p>
      <ul class="list-group">
        <li class="list-group-item" onclick="change_text(this.innerHTML)" style="cursor: pointer;">What is the best team?</li>
        <li class="list-group-item" onclick="change_text(this.innerHTML)" style="cursor: pointer;">What is the best team between <b>date 1</b> and <b>date 2</b>?</li>
        <li class="list-group-item" onclick="change_text(this.innerHTML)" style="cursor: pointer;">What is the worst team?</li>
        <li class="list-group-item" onclick="change_text(this.innerHTML)" style="cursor: pointer;">What is the worst team between <b>date 1</b> and <b>date 2</b>?</li>

      </ul>
    </aside>
    <section class="w-75 bg-light">
      <p class="fs-2 mx-3">Enter your prompt here:</p>
      <div class="w-100 row justify-content-center">
        <form method="get" class="w-75 py-6" action="{% url 'prompt_resp' %}">
          {{ form }}
          <input type="text" value="{{ img_src }}" id="img_src" name="img_src" hidden>
          <input type="submit" value="Send prompt" class="btn btn-success w-auto">
        </form>
      </div>
    </section>
  </div>
  {% include 'soccer_ai/footer.html' %}

</body>
</html>
<script>
  var lan = document.getElementsByTagName("label");
  for (i=0;i<lan.length;i++){
    lan[i].setAttribute("class","form-label");
  }
  var ta = document.getElementById("id_input_prompt");
  ta.setAttribute("class","form-control");

  function change_text(value){
    var hand = document.getElementById('id_input_prompt');
    hand.innerHTML = value;
  }
</script>